{% extends 'base.html' %}

{% block start %}
<div class="container mt-5">
  <h2 class="mb-4 text-center">My Recipes</h2>
  {% if recipes %}
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Title</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
        <tr>
          <td>{{ recipe.title }}</td>
          <td>{{ recipe.created_at|date:"Y-m-d" }}</td>
          <td>
            <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-sm btn-primary">Detail</a>
            <a href="{% url 'update_recipe' recipe.id %}" class="btn btn-sm btn-warning">Update</a>
            <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-sm btn-warning" style="color: white; background-color: red;">Delete</a>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="text-center">You haven’t created any recipes yet.</p>
  {% endif %}
</div>
{% endblock %}
